{% extends 'frontend/layouts/app.html' %}
{% block content %}

    {% include 'frontend/inc/hero.html' %}

    <div class="about2-section-area sp1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="about-images-area">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="img2 image-anime reveal">
                                    <img src="https://housebox-html-demo.vercel.app/assets/img/all-images/about/about-img3.png" alt="housebox">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="img1 image-anime reveal">
                                    <img src="https://housebox-html-demo.vercel.app/assets/img/all-images/about/about-img4.png" alt="housebox">
                                </div>
                                <div class="space30"></div>
                                <div class="img1 image-anime reveal">
                                    <img src="https://housebox-html-demo.vercel.app/assets/img/all-images/about/about-img5.png" alt="housebox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="about-heading heading1">
                        <h5>About IAH</h5>
                        <div class="space20"></div>
                        <h2 class="text-anime-style-3">Embrace the Elegance Our Exclusive Property</h2>
                        <div class="space18"></div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nostrum nulla ratione quibusdam sunt facere eligendi, sint neque sit nobis. Nam totam maiores hic voluptate culpa odio ab omnis eaque?
                        </p>
                        <div class="space32"></div>
                        <div class="counter-boxes">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-6">
                                    <div class="counter-boxarea text-center">
                                        <h2><span class="counter">10</span>K</h2>
                                        <div class="space12"></div>
                                        <p>Homes Sold</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-6">
                                    <div class="counter-boxarea text-center">
                                        <h2><span class="counter">9</span>K</h2>
                                        <div class="space12"></div>
                                        <p>Happy Client</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-6">
                                    <div class="space20 d-md-none d-block"></div>
                                    <div class="counter-boxarea text-center">
                                        <h2><span class="counter">98</span>%</h2>
                                        <div class="space12"></div>
                                        <p>Satisfaction Rate</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space32"></div>
                        <div class="btn-area1">
                            <a href="{% url 'frontend:getProperties' %}" class="theme-btn3">
                                See All Properties 
                                <span class="arrow1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                        <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                    </svg>
                                </span>
                                <span class="arrow2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                        <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="properties-section-area sp2" style="background-image: url(https://housebox-html-demo.vercel.app/assets/img/all-images/bg/bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="property-heading heading1 text-center space-margin60">
                        <h5>Featured Properties</h5>
                        <div class="space20"></div>
                        <h2 class="text-anime-style-3">Our Featured Properties</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="property-feature-slider">
                        <div class="col-lg-12 m-auto">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="property-boxarea">
                                        <div class="img1 image-anime">
                                            <div class="swiper swiper-fade">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <img src="https://housebox-html-demo.vercel.app/assets/img/all-images/properties/property-img5.png" alt="housebox">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="category-list">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        Featured
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        For Sale
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="content-area">
                                            <a href="#">
                                                Gorgeous Home for Sale
                                            </a>
                                            <div class="space18"></div>
                                            <p>
                                                Los Angeles City, CA, USA
                                            </p>
                                            <div class="space24"></div>
                                            <ul>
                                                <li><a href="#"><img src="https://housebox-html-demo.vercel.app/assets/img/icons/bed1.svg" alt="housebox">x23</a></li>
                                                <li><a href="#"><img src="https://housebox-html-demo.vercel.app/assets/img/icons/bath1.svg" alt="housebox">x34</a></li>
                                                <li><a href="#"><img src="https://housebox-html-demo.vercel.app/assets/img/icons/sqare1.svg" alt="housebox">1200 sq</a></li>
                                            </ul>
                                            <div class="btn-area">
                                                <a href="#" class="nm-btn">
                                                    $820,000
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team1-section-area sp2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="team-header heading1 space-margin60 text-center">
                        <h5 data-aos="fade-left" data-aos-duration="800">Agents</h5>
                        <div class="space20"></div>
                        <h2 class="text-anime-style-3">
                            Our Agents
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-widget-boxarea">
                        <div class="img1 image-anime">
                            <img src="https://housebox-html-demo.vercel.app/assets/img/all-images/team/team-img1.png" alt="housebox">
                            <div class="share">
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                                        <path
                                            d="M14.1333 12.7229C13.4578 12.7229 12.8533 12.994 12.3911 13.4187L6.05332 9.66867C6.09777 9.46084 6.13332 9.25301 6.13332 9.03614C6.13332 8.81928 6.09777 8.61145 6.05332 8.40361L12.32 4.68976C12.8 5.14157 13.4311 5.42169 14.1333 5.42169C15.6089 5.42169 16.8 4.21084 16.8 2.71084C16.8 1.21084 15.6089 0 14.1333 0C12.6578 0 11.4667 1.21084 11.4667 2.71084C11.4667 2.92771 11.5022 3.13554 11.5467 3.34337L5.27999 7.05723C4.79999 6.60542 4.16888 6.3253 3.46665 6.3253C1.9911 6.3253 0.799988 7.53614 0.799988 9.03614C0.799988 10.5361 1.9911 11.747 3.46665 11.747C4.16888 11.747 4.79999 11.4669 5.27999 11.0151L11.6089 14.7741C11.5644 14.9639 11.5378 15.1627 11.5378 15.3614C11.5378 16.8163 12.7022 18 14.1333 18C15.5644 18 16.7289 16.8163 16.7289 15.3614C16.7289 13.9066 15.5644 12.7229 14.1333 12.7229Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="#" class="m-0"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="space24"></div>
                        <div class="content-area">
                            <a href="#">Henry Nicolas</a>
                            <div class="space14"></div>
                            <p>Founder & CEO</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cta1-section-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-bg-area" style="background-image: url(https://housebox-html-demo.vercel.app/assets/img/all-images/bg/cta-bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="cta-header">
                                    <h2 class="text-anime-style-3">Step Into Your Dream Home with HouseBox</h2>
                                    <div class="space16"></div>
                                    <p>At HouseBox, we believe your next home is more than just a place – it’s where your future begins you’re buy.</p>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5">
                                <div class="btn-area1 text-center">
                                    <a href="#" class="theme-btn1">
                                        Find Your Dream Home 
                                        <span class="arrow1">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                                <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                            </svg>
                                        </span>
                                        <span class="arrow2">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                                <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}