{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="AOF ">
    <title>IAH - Admin</title>
    <!-- favicon icon -->
    <link rel="shortcut icon" href="{% static 'frontend/images/logo/logo-black.png' %}">
    <link rel="apple-touch-icon" href="{% static 'frontend/images/logo-black.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'frontend/images/logo-black.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'frontend/images/logo-black.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/icofont.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/themify.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/flag-icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/feather-icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/scrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/owlcarousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/rating.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/style.css' %}">
    <link id="color" rel="stylesheet" href="{% static 'backend/css/color-1.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/responsive.css' %}">
</head>

<body>

    <div class="tap-top">
        <i data-feather="chevrons-up"></i>
    </div>

    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        {% include 'backend/inc/header.html' %}

        <div class="page-body-wrapper">
            {% include 'backend/inc/sidebar.html' %}

            <div class="page-body">
                
                <!-- Global Messages Section -->
                {% if messages %}
                    <div class="container-fluid mt-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static 'backend/js/jquery.min.js' %}"></script>
    <script src="{% static 'backend/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'backend/js/icons/feather-icon/feather.min.js' %}"></script>
    <script src="{% static 'backend/js/icons/feather-icon/feather-icon.js' %}"></script>
    <script src="{% static 'backend/js/scrollbar/simplebar.js' %}"></script>
    <script src="{% static 'backend/js/scrollbar/custom.js' %}"></script>
    <script src="{% static 'backend/js/config.js' %}"></script>
    <script src="{% static 'backend/js/sidebar-menu.js' %}"></script>
    <script src="{% static 'backend/js/sidebar-pin.js' %}"></script>
    <script src="{% static 'backend/js/slick/slick.min.js' %}"></script>
    <script src="{% static 'backend/js/slick/slick.js' %}"></script>
    <script src="{% static 'backend/js/header-slick.js' %}"></script>
    <script src="{% static 'backend/js/rating/jquery.barrating.js' %}"></script>
    <script src="{% static 'backend/js/rating/rating-script.js' %}"></script>
    <script src="{% static 'backend/js/owlcarousel/owl.carousel.js' %}"></script>
    <script src="{% static 'backend/js/ecommerce.js' %}"></script>
    <script src="{% static 'backend/js/script.js' %}"></script>
    <script src="{% static 'backend/js/script1.js' %}"></script>
    <script src="{% static 'backend/js/theme-customizer/customizer.js' %}"></script>
</body>
</html>
