{% extends 'backend/layouts/app.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container-fluid product-wrapper">
    <div class="product-grid">
        <div class="feature-products">
            <div class="row">
                <div class="list-product-header">
                    <div class="d-flex justify-content-between">
                        <h4>Filtered Properties</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrapper-grid">
            <div class="row">
                {% for property in properties %}
                    <div class="col-xl-3 col-sm-6 xl-4">
                        <div class="card">
                            <div class="product-box">
                                <div class="product-img">
                                    <img class="img-fluid" src="{{ property.image.url }}" alt="">
                                    <div class="product-hover">
                                        <ul>
                                            <li>
                                                <a href="{% url 'backend:showProperty' property.id %}">
                                                    <i class="icon-eye"></i>
                                                </a>
                                            </li>
                                            {% if user.role == 'House Provider' %}
                                                <li>
                                                    <a href="{% url 'backend:editProperty' property.id %}">
                                                        <i class="icon-ruler-pencil"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'backend:deleteProperty' property.id %}">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-details">
                                    <div class="d-flex mb-3">
                                        <div class="col-md-4">
                                            <i class="icon-home"></i>
                                            {{ property.size }} sqf
                                        </div>
                                        <div class="col-md-4">
                                            <i class="fa fa-bed"></i>
                                            {{ property.capacity }} Rooms
                                        </div>
                                        <div class="col-md-4">
                                            <i class="fa fa-bathtub"></i>
                                            {{ property.bathroom }} Bath
                                        </div>
                                    </div>
                                    <a href="{% url 'backend:showProperty' property.id %}" class="mb-3">
                                        <h4 style="font-size: 18px;">{{ property.name }}</h4>
                                    </a>
                                    <p class="mb-3">
                                        {{ property.description|truncatechars:100 }}
                                    </p>
                                    <div class="product-price" style="font-size: 14px;">
                                        {{ property.price_rwf|intcomma }} RWF
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
