{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelligent Accessible Housing</title>
    <link rel="shortcut icon" href="{% static 'frontend/img/logo/fav-logo2.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'frontend/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/plugins/aos.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/plugins/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/plugins/mobile.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/plugins/owlcarousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/plugins/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/plugins/slick-slider.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/plugins/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/plugins/swiper-slider.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">
    <script src="{% static 'frontend/js/plugins/jquery-3-7-1.min.js' %}"></script>
</head>
<body>

    {% block content %}{% endblock %}

    <script src="{% static 'frontend/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/fontawesome.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/aos.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/counter.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/chart.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/chart-init.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/gsap.min.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/Splitetext.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/sidebar.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/swiper-slider.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/mobilemenu.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/owlcarousel.min.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/nice-select.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/slick-slider.js' %}"></script>
    <script src="{% static 'frontend/js/plugins/circle-progress.js' %}"></script>
    <script src="{% static 'frontend/js/main.js' %}"></script>

</body>
</html>