{% extends 'backend/layouts/app.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="list-client-header d-flex justify-content-between">
						<h4>Agent Details</h4>
						<a class="btn btn-primary" href="{% url 'backend:getHouseProviders' %}"><i class="fa fa-arrow-left"></i> Go Back</a>
					</div>
					<hr>
					<table class="table table-striped">
						<tr>
							<th>Name:</th>
							<td>{{ houseProvider.name }}</td>
						</tr>
						<tr>
							<th>Email:</th>
							<td>{{ houseProvider.email }}</td>
						</tr>
						<tr>
							<th>Phone Number:</th>
							<td>{{ houseProvider.phone_number }}</td>
						</tr>
						<tr>
							<th>Created At:</th>
							<td>{{ houseProvider.created_at|naturaltime }}</td>
						</tr>
						<tr>
							<th>Updated At:</th>
							<td>{{ houseProvider.updated_at|naturaltime }}</td>
						</tr>
					</table>
					<div class="text-end">
						{% if user.role == 'Admin' %}
							<a href="{% url 'backend:editHouseProvider' user.id %}" class="btn btn-warning">
								Edit
							</a>
							<a href="{% url 'backend:deleteHouseProvider' user.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{ user.name }}?');">
								Delete
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}