{% extends 'frontend/layouts/app.html' %}
{% load humanize %}

{% block content %}
<div class="hero-inner-section-area-sidebar">
    <img src="https://housebox-html-demo.vercel.app/assets/img/all-images/hero/hero-img1.png" alt="housebox" class="hero-img1" />
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-header-area text-center">
                    <a href="{% url 'frontend:home' %}">
                        Home
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
                        </svg>
                        Dashboard
                    </a>
                    <div class="space24"></div>
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-inner-section sp1">
    <div class="container">
        <div class="row">
            {% include 'frontend/inc/user-sidebar.html' %}
            <div class="col-lg-9">
                <div class="dashboard-section-area sp1" style="padding: 30px 0 0 0 !important;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="space30"></div>
                            <div class="dashboad-all-details-section">
                                <h3>Your Rent Applications</h3>
                                <div class="row">
                                    <div class="space20"></div>
                                    <div class="table-container">
                                        <div class="table-header">
                                            <div>Listing</div>
                                            <div>Status</div>
                                            <div>Action</div>
                                        </div>
                                        {% for application in applications %}
                                            <div class="table-row">
                                                <div class="listing">
                                                    <img src="{{ application.property.image.url }}" alt="{{ application.property.name }}">
                                                    <div class="details">
                                                        <a href="{% url 'frontend:showProperty' application.property.slug %}">
                                                            {{ application.property.name }}
                                                        </a>
                                                        <div class="space18"></div>
                                                        <p>
                                                            <span><img src="https://housebox-html-demo.vercel.app/assets/img/icons/bed1.svg" alt="housebox"> x{{ application.property.capacity }}</span>
                                                            <span><img src="https://housebox-html-demo.vercel.app/assets/img/icons/bath1.svg" alt="housebox"> x{{ application.property.bathroom }}</span>
                                                            <span><img src="https://housebox-html-demo.vercel.app/assets/img/icons/sqare1.svg" alt="housebox"> {{ application.property.size }} sq ft</span>
                                                        </p>
                                                        <div class="space16"></div>
                                                        <a class="price">{{ application.property.price_rwf|intcomma }} RWF</a>
                                                    </div>
                                                </div>
                                                <div class="status">
                                                    <a href="#" class="status-badge {% if application.status == 'Accepted' %}approved{% else %}pending{% endif %}">{{ application.status }}</a>
                                                </div>
                                                <div class="actions">
                                                    <button class="edit">
                                                        <a href="{% url 'frontend:showApplicationDetail' application.id %}">
                                                            View
                                                        </a>
                                                    </button>
                                                    {% if application.contract %}
                                                        <button class="edit">
                                                            <a href="{% url 'frontend:showContract' application.contract.id %}">
                                                                Contract
                                                            </a>
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% empty %}
                                            <p>No applications found.</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="space30"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
