{% extends 'frontend/layouts/app.html' %}
{% block content %}
    <div class="hero-inner-section-area-sidebar">
        <img src="https://housebox-html-demo.vercel.app/assets/img/all-images/hero/hero-img1.png" alt="housebox" class="hero-img1" />
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-header-area text-center">
                        <a href="#">
                            Home
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
                            </svg>
                            Properties
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
                            </svg>
                        </a>
                        <div class="space24"></div>
                        <h1>Properties</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="property-inner-section-find sp1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="property-mapgrid-area">
                        <div class="heading1">
                            <h3>Properties (58)</h3>
                            <div class="tabs-btn">
                                <div class="d-flex">
                                    <div class="filter-group me-3">
                                        <select>
                                            <option>Show:(12)</option>
                                            <option>Show:(30)</option>
                                            <option>Show:(50)</option>
                                        </select>
                                    </div>
                                    <div class="filter-group">
                                        <select>
                                            <option>Sort by (Default)</option>
                                            <option>Oldest</option>
                                            <option>Newest</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space32 d-none d-lg-block"></div>
                        <div class="row">
                            {% include 'frontend/inc/sidebar.html' %}
                            <div class="col-lg-8">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4">
                                                <div class="property-boxarea">
                                                    <div class="img1 image-anime">
                                                        <div class="swiper swiper-fade">
                                                            <div class="swiper-wrapper">
                                                                <div class="swiper-slide">
                                                                    <img src="https://housebox-html-demo.vercel.app/assets/img/all-images/properties/property-img2.png" alt="housebox">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="category-list">
                                                        <ul>
                                                            <li>
                                                                <a href="#">
                                                                    Featured
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    For Rent
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="content-area">
                                                        <a href="{% url 'frontend:showProperty' %}" style="font-size: 18px;">
                                                            Apartment Complex
                                                        </a>
                                                        <div class="space18"></div>
                                                        <p>
                                                            Los Angeles City, CA, USA
                                                        </p>
                                                        <div class="space24"></div>
                                                        <ul>
                                                            <li><a href="#"><img src="https://housebox-html-demo.vercel.app/assets/img/icons/bed1.svg" alt="housebox">x20</a></li>
                                                            <li><a href="#"><img src="https://housebox-html-demo.vercel.app/assets/img/icons/bath1.svg" alt="housebox">x30</a></li>
                                                        </ul>
                                                        <div class="btn-area">
                                                            <a href="#" class="nm-btn">
                                                                $820,000
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="pagination-area">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination">
                                                            <li class="page-item">
                                                                <a class="page-link" href="#" aria-label="Previous">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                        <path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path>
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">....</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">12</a></li>
                                                            <li class="page-item">
                                                                <a class="page-link" href="#" aria-label="Next">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                        <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
