{% extends 'backend/layouts/app.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4>Create New Contract</h4>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Create Contract</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
