{% extends 'backend/layouts/app.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4>Create Contract for {{ rent_application.property.name }}</h4>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Create Contract</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}