{% extends 'backend/layouts/app.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4>Contract Details</h4>
                    <hr>
                    <table class="table">
                        <tr>
                            <td><b>Contract Number:</b></td>
                            <td>{{ contract.contract_number }}</td>
                        </tr>
                        <tr>
                            <td><b>Tenant:</b></td>
                            <td>{{ contract.tenant.name }}</td>
                        </tr>
                        <tr>
                            <td><b>House Provider:</b></td>
                            <td>{{ contract.house_provider.name }}</td>
                        </tr>
                        <tr>
                            <td><b>Property:</b></td>
                            <td>{{ contract.property.name }}</td>
                        </tr>
                        <tr>
                            <td><b>Status:</b></td>
                            <td>{{ contract.status }}</td>
                        </tr>
                        <tr>
                            <td><b>Start Date:</b></td>
                            <td>{{ contract.start_date }}</td>
                        </tr>
                        <tr>
                            <td><b>End Date:</b></td>
                            <td>{{ contract.end_date }}</td>
                        </tr>
                        <tr>
                            <td><b>Rent Amount:</b></td>
                            <td>{{ contract.rent_amount }} RWF</td>
                        </tr>
                        <tr>
                            <td><b>Security Deposit:</b></td>
                            <td>{{ contract.security_deposit }} RWF</td>
                        </tr>
                    </table>
                    <a href="{% url 'backend:getContracts' %}" class="btn btn-secondary">Back to Contracts</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
