{% extends 'frontend/layouts/app.html' %}
{% load humanize %}
{% block content %}
<div class="hero-inner-section-area-sidebar">
	<img src="https://housebox-html-demo.vercel.app/assets/img/all-images/hero/hero-img1.png" alt="housebox" class="hero-img1" />
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="hero-header-area text-center">
					<a href="{% url 'frontend:home' %}">
						Home
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
							<path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
						</svg>
						Dashboard
					</a>
					<div class="space24"></div>
					<h1>Dashboard</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="blog-inner-section sp1">
	<div class="container">
		<div class="row">
			{% include 'frontend/inc/user-sidebar.html' %}
			<div class="col-lg-9">
				<div class="dashboard-section-area sp1" style="padding: 30px 0 0 0 !important;">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="dash1-box">
								<div class="icons">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
										<path d="M20 22H4C3.44772 22 3 21.5523 3 21V3C3 2.44772 3.44772 2 4 2H20C20.5523 2 21 2.44772 21 3V21C21 21.5523 20.5523 22 20 22ZM19 20V4H5V20H19ZM8 7H16V9H8V7ZM8 11H16V13H8V11ZM8 15H16V17H8V15Z"></path>
									</svg>
								</div>
								<div class="text">
									<span>Your All Listing</span>
									<div class="space12"></div>
									<h3>60 <span>/100 Remain</span></h3>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="dash1-box">
								<div class="icons">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
										<path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM13 12H17V14H11V7H13V12Z"></path>
									</svg>
								</div>
								<div class="text">
									<span>All Pending</span>
									<div class="space12"></div>
									<h3>04 <span>/Pending</span></h3>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="dash1-box">
								<div class="icons">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
										<path d="M11.9996 0.5L16.2256 6.68342L23.4123 8.7918L18.8374 14.7217L19.053 22.2082L11.9996 19.6897L4.94617 22.2082L5.16179 14.7217L0.586914 8.7918L7.7736 6.68342L11.9996 0.5ZM11.9996 4.044L9.02186 8.40151L3.95659 9.887L7.18152 14.0655L7.02859 19.34L11.9996 17.566L16.9696 19.34L16.8177 14.0655L20.0416 9.887L14.9773 8.40151L11.9996 4.044ZM9.99959 12C9.99959 13.1046 10.895 14 11.9996 14C13.1042 14 13.9996 13.1046 13.9996 12H15.9996C15.9996 14.2091 14.2087 16 11.9996 16C9.79045 16 7.99959 14.2091 7.99959 12H9.99959Z"></path>
									</svg>
								</div>
								<div class="text">
									<span>Our Favourite</span>
									<div class="space12"></div>
									<h3>08 <span>/Favourite</span></h3>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="dash1-box">
								<div class="icons">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
										<path d="M14 4.4375C15.3462 4.4375 16.4375 3.34619 16.4375 2H17.5625C17.5625 3.34619 18.6538 4.4375 20 4.4375V5.5625C18.6538 5.5625 17.5625 6.65381 17.5625 8H16.4375C16.4375 6.65381 15.3462 5.5625 14 5.5625V4.4375ZM1 11C4.31371 11 7 8.31371 7 5H9C9 8.31371 11.6863 11 15 11V13C11.6863 13 9 15.6863 9 19H7C7 15.6863 4.31371 13 1 13V11ZM4.87601 12C6.18717 12.7276 7.27243 13.8128 8 15.124 8.72757 13.8128 9.81283 12.7276 11.124 12 9.81283 11.2724 8.72757 10.1872 8 8.87601 7.27243 10.1872 6.18717 11.2724 4.87601 12ZM17.25 14C17.25 15.7949 15.7949 17.25 14 17.25V18.75C15.7949 18.75 17.25 20.2051 17.25 22H18.75C18.75 20.2051 20.2051 18.75 22 18.75V17.25C20.2051 17.25 18.75 15.7949 18.75 14H17.25Z"></path>
									</svg>
								</div>
								<div class="text">
									<span>All Reviews</span>
									<div class="space12"></div>
									<h3>1.567</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-9">
							<div class="space30"></div>
							<div class="dashboad-all-details-section">
								<h3>New Listing</h3>
								<div class="row">
									<div class="space20"></div>
									<div class="table-container">
										<!-- Header -->
										<div class="table-header">
											<div>Listing</div>
											<div>Status</div>
											<div>Agent</div>
										</div>
										<div class="table-row">
											<div class="listing">
												<img src="https://housebox-html-demo.vercel.app/assets/img/all-images/others/dash-img1.png" alt="Apartment Complex">
												<div class="details">
													<a href="property-details-v1.html">Apartment Complex</a>
													<div class="space18"></div>
													<p>
														<span><img src="https://housebox-html-demo.vercel.app/assets/img/icons/bed1.svg" alt="housebox"> x2</span>
														<span><img src="https://housebox-html-demo.vercel.app/assets/img/icons/bath1.svg" alt="housebox"> x2</span>
														<span><img src="https://housebox-html-demo.vercel.app/assets/img/icons/sqare1.svg" alt="housebox"> 1200 sq</span>
													</p>
													<div class="space16"></div>
													<a class="price">$820,000</a>
												</div>
											</div>
											<div class="status">
												<a href="#" class="status-badge approved">Approved</a>
											</div>
											<div class="status">
												<a href="#" class="status-badge approved">Name</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="space30"></div>
						</div>
						<div class="col-lg-3">
							<div class="space30"></div>
							<div class="dashboard-info-sider-deatils">
								<div class="dashboard-info-sider">
									<h3>Notifications</h3>
									<div class="space32"></div>
									<div class="conatent-area">
										<div class="content">
											<a href="#">Henry Nicolas</a>
											<p>3 Days Ago</p>
										</div>
										<div class="space14"></div>
										<p>We're excited to help you find the perfect neighborhood and home for your family Let us know how.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}