{% load static %}

<div class="footer2-section-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-logoarea">
					<img src="{% static 'frontend/img/logo.png' %}" alt="housebox">
					<ul class="contact">
						<li>
							<a href="tel:#+11234567890">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
									<path d="M21 16.42V19.9561C21 20.4811 20.5941 20.9167 20.0705 20.9537C19.6331 20.9846 19.2763 21 19 21C10.1634 21 3 13.8366 3 5C3 4.72371 3.01545 4.36687 3.04635 3.9295C3.08337 3.40588 3.51894 3 4.04386 3H7.5801C7.83678 3 8.05176 3.19442 8.07753 3.4498C8.10067 3.67907 8.12218 3.86314 8.14207 4.00202C8.34435 5.41472 8.75753 6.75936 9.3487 8.00303C9.44359 8.20265 9.38171 8.44159 9.20185 8.57006L7.04355 10.1118C8.35752 13.1811 10.8189 15.6425 13.8882 16.9565L15.4271 14.8019C15.5572 14.6199 15.799 14.5573 16.001 14.6532C17.2446 15.2439 18.5891 15.6566 20.0016 15.8584C20.1396 15.8782 20.3225 15.8995 20.5502 15.9225C20.8056 15.9483 21 16.1633 21 16.42Z"></path>
								</svg>
								+1 123 456 7890
							</a>
						</li>
					</ul>
					<div class="space24"></div>
					<ul class="social">
						<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
						<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-content">
					<h3>Category</h3>
					<div class="space4"></div>
					<ul>
						<li><a href="#">Modern House</a></li>
						<li><a href="#">Cottage House</a></li>
						<li><a href="#">Cabin House</a></li>
						<li><a href="#">Rambler House</a></li>
						<li><a href="#">Pent House</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-content2">
					<h3>Quick Links</h3>
					<div class="space4"></div>
					<ul>
						<li><a href="#">Terms of Service</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Refund Policy</a></li>
						<li><a href="#">Become a Seller</a></li>
						<li><a href="#">Help Center</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="instagram-posts">
					<h3>We are here</h3>
					<div class="space28"></div>
					<div class="maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63799.91730331241!2d30.063018091226386!3d-1.9554758114524995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca6f907feabf7%3A0x207b54b64c8ffb34!2sAdventist%20University%20of%20Central%20Africa%2C%20Science%20and%20Technology%20Centre!5e0!3m2!1sen!2srw!4v1738842443789!5m2!1sen!2srw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="space60"></div>
		<div class="row">
			<div class="col-lg-12">
				<div class="copyright text-center">
					<p>©Copyright 2025 - IAH.</p>
				</div>
			</div>
		</div>
	</div>
</div>