<header>
    <div class="header-area homepage2 header header-sticky d-none d-lg-block" id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-elements">
                        <div class="site-logo">
                            <a href="">
                                <img src="https://housebox-html-demo.vercel.app/assets/img/logo/logo1.png" alt="">
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li>
                                    <a href="{% url 'frontend:home' %}">Home</a>
                                </li>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="{% url 'frontend:getProperties' %}">Properties</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-area">
                            <a href="{% url 'frontend:login' %}" class="theme-btn2">
                                Sign In
                                <span class="arrow1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                        <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                    </svg>
                                </span>
                                <span class="arrow2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                        <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                    </svg>
                                </span>
                            </a>
                            <div class="search-icon header__search header-search-btn">
                            </div>
                            <a href="{% url 'frontend:register' %}" class="theme-btn1">
                                Sign Up
                                <span class="arrow1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                        <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                    </svg>
                                </span>
                                <span class="arrow2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                                        <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="mobile-header mobile-header2 d-block d-lg-none">
    <div class="container-fluid">
        <div class="col-12">
            <div class="mobile-header-elements">
                <div class="mobile-logo">
                    <a href="#">
                        <img src="https://housebox-html-demo.vercel.app/assets/img/logo/logo1.png" alt="">
                    </a>
                </div>
                <div class="mobile-right d-flex gap-1 align-items-center">
                    <div class="mobile-nav-icon dots-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M3 4H21V6H3V4ZM7 19H21V21H7V19ZM3 14H21V16H3V14ZM7 9H21V11H7V9Z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-sidebar mobile-sidebar2">
    <div class="logosicon-area">
        <div class="logos">
            <img src="https://housebox-html-demo.vercel.app/assets/img/logo/logo1.png" alt="">
        </div>
        <div class="menu-close">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M10.5859 12L2.79297 4.20706L4.20718 2.79285L12.0001 10.5857L19.793 2.79285L21.2072 4.20706L13.4143 12L21.2072 19.7928L19.793 21.2071L12.0001 13.4142L4.20718 21.2071L2.79297 19.7928L10.5859 12Z"></path>
            </svg>
        </div>
    </div>
    <div class="mobile-nav mobile-nav1">
        <ul class="mobile-nav-list nav-list1">
            <li>
                <a href="{% url 'frontend:home' %}">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="{% url 'frontend:getProperties' %}">Properties</a>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </div>
</div>