<div class="col-lg-4">
    <div class="blog-siderbar">
        <div class="all-category">
            <div class="space30"></div>
            <div class="categories-area">
                <ul>
                    <li>
                        <a href="#">
                            Dashboard 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Rentals
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Applications
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Favorite Properties
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Notifications
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            My Profile
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>