{% extends 'backend/layouts/app.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container-fluid">
    <div class="row"> 
        <div class="col-sm-12"> 
            <div class="card"> 
                <div class="card-body">
                    <div class="list-product-header">
                        <div class="d-flex justify-content-between">
                            <h4>Contacts</h4>
                        </div>
                    </div>
                    <hr>
                    <div class="list-product">
                        <table class="table" id="project-status">
                            <thead> 
                                <tr> 
                                    <th>
                                        <div class="form-check"> 
                                            <input class="form-check-input checkbox-primary" type="checkbox">
                                        </div>
                                    </th>
                                    <th><span class="f-light f-w-600">Contract Number</span></th>
                                    <th><span class="f-light f-w-600">Tenant</span></th>
                                    <th><span class="f-light f-w-600">Property</span></th>
                                    <th><span class="f-light f-w-600">Agent</span></th>
                                    <th><span class="f-light f-w-600">Status</span></th>
                                    <th><span class="f-light f-w-600">Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contract in contracts %}
                                    <tr class="product-removes">
                                        <td>
                                            <div class="form-check"> 
                                                <input class="form-check-input checkbox-primary" type="checkbox">
                                            </div>
                                        </td>
                                        <td>
                                            <p class="f-light">{{ contract.contract_number }}</p>
                                        </td>
                                        <td>
                                            <p class="f-light">{{ contract.tenant.name }}</p>
                                        </td>
                                        <td>
                                            <p class="f-light">{{ contract.property.name }}</p>
                                        </td>
                                        <td>
                                            <p class="f-light">{{ contract.agent.name }}</p>
                                        </td>
                                        <td>
                                            <p class="f-light">{{ contract.status }}</p>
                                        </td>
                                        <td>
                                            <div class="product-action">
                                                <a href="{% url 'backend:showContract' contract.id %}" class="btn btn-primary">
                                                    View
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
